body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #1d2d3b;
    overflow: hidden;
    overflow-y: auto;
}

header {
    background-color: #2d3a46;
    height: 100px;
}
  
.image img {
    width: 15%;
}

.disc {
    background-color: #2d3a46;
}

.album {
    width: 90%;
}

.title {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.info {
    font-size: 12px;
    color: #b0a69f;
}

.main {
    padding-bottom: 50px;
}

.grey {
    color: rgb(119, 118, 118);
}